# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Environment
# =====================
.env
.env.*
venv/
.venv/

# =====================
# Airflow
# =====================
logs/
airflow.db
airflow.cfg
*.pid
*.log

# =====================
# dbt
# =====================
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml
dbt/.user.yml

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Vim
# =====================
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# =====================
# Sublime
# =====================
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json

# =====================
# Docker
# =====================
docker-compose*.yml
Dockerfile
.dockerignore